@media (min-width : 569px) and (max-width : 1024px) {
	
	.hidden-tablet {display: none !important;}
	.hidden-desktop-tablet{ display: none !important;}



}


@media (min-width : 769px) and (max-width : 1024px) {

	.item-animal{  width: 23.5%; margin: 0 2% 25px 0; }
		.item-animal:nth-child(4n+1){ margin-right: 0; }
		.item-animal:nth-child(3), .item-animal:nth-child(5){ margin-right: 0; }
		.item-animal:nth-child(4){ margin-right: 2%; }

		.item-animal:first-child{ width: 49%; margin-right: 2% !important; }

}


@media (min-width : 569px) and (max-width : 768px) {

	.item-animal{  width: 23.5%; margin: 0 2% 25px 0; }
		.item-animal:nth-child(4n+1){ margin-right: 0; }
		.item-animal:nth-child(3), .item-animal:nth-child(5){ margin-right: 0; }
		.item-animal:nth-child(4){ margin-right: 2%; }

		.item-animal:first-child{ width: 49%; margin-right: 2% !important; }
		
}
